<!DOCTYPE html>
<html>
    <head>
        <title>Giphy API App</title>
          <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    </head>
    <body>
        <div class="container">
        <h1>WENDELL's GIPHY API App</h1>
        <form method="POST" action="results">
            <p>Type in your search term: <input name="search_term" /></p>
            <button type="submit">Submit this, yo!</button>
        </form>
        </div>
    </body>
</html>

